
.DS_Store
Homework-8/SQL_Alchemy.ipynb.zip
Homework-6/Images/equatorsign.png
Homework-6/Images/.equatorsign.png.icloud
Homework-6/Images/.equatorsign.png.icloud
HomeWork-3/python_challenge/
HomeWork-1/
*.icloud
Homework-6/Images/.equatorsign.png.icloud
